html,
body {
	margin: 0;
	padding: 0;
	background: var(--background);
	font-family: 'Noto Sans KR', sans-serif;
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

.visualyHidden {
	position: absolute;
	overflow: hidden;

	width: 0;
	height: 0;
}

.capitalize {
	text-transform: capitalize;
}

:root {
	--black: #3b434e;
	--background: #f5f6f8;
	--gray-light: #ebebeb;
	--gray: #a4a4a4;
	--gray-dark: #6c7077;
	--white: white;
	--primary: linear-gradient(273deg, #352467 4.95%, #1a1333 93.62%);
	--primary-hover: linear-gradient(183deg, crimson, #4340fe 73.62%);
	--primary-dark: midnightblue;
	--primary-light: #4340fe;
	--red-light: #fea291;
	--red: #fc836d;
	--gold: #bfa181;
	--green: #007b48;
	--green-light: #c8f8e4;
	--font-family: 'Noto Sans KR', sans-serif;
}

[class='dark'] body {
	--background: linear-gradient(273deg, #352467 4.95%, #1a1333 93.62%);
	--gray-light: #4340fe;
	--gray-dark: #f2c5df;
}
